.aboutContactUs {
    width: 100%;
    height: 100%;

    background-color: #2E2F2A;

    padding-top: 100px;
    /* padding-bottom: 100px; */
}

.aboutContactUsContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 100px;
}


.aboutContactUsContainerTop {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.aboutContactUsContainerTopContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* gap: 50px; */
}

.aboutContactUsContainerTopContainerElement {
    border: 1px dashed #AC6620;
    width: 200px;
    height: 240px;
    border-radius: 50px;
}

.aboutContactUsContainerTopContainerElementContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.aboutContactUsContainerTopContainerElementContainerTopContainerText {
    color: #FFE5D4;
    font-size: 80px;
    font-weight: 300;
    line-height: 80px;
}

.aboutContactUsContainerTopContainerElementContainerBottomContainerText {
    color: #D08C43;
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
}





.aboutContactUsContainerBottom {
    width: 100%;
    height: 100%;
}

.aboutContactUsContainerBottomContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutContactUsContainerBottomContainerOne {
    width: 100%;
    height: 770px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.aboutContactUsContainerBottomContainerOneContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.aboutContactUsContainerBottomContainerOneContainerOne {
    width: 1000px;
    height: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.aboutContactUsContainerBottomContainerOneContainerOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5EDE7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.aboutContactUsContainerBottomContainerOneContainerOneContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContactUsContainerBottomContainerOneContainerOneContainerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.aboutContactUsContainerBottomContainerOneContainerTwo {
    width: 500px;
    height: 100%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.aboutContactUsContainerBottomContainerOneContainerTwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5EDE7;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.aboutContactUsContainerBottomContainerOneContainerTwoContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContactUsContainerBottomContainerOneContainerTwoContainerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.aboutContactUsContainerBottomContainerBottom {
    width: 700px;
    height: 400px;
    border-radius: 50px;
    background-color: #F5EDE7;
    transform: translateX(30%) translateY(-150%);
}

.aboutContactUsContainerBottomContainerBottomContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: ;
}

.aboutContactUsContainerBottomContainerBottomContainerBottomContainerButton {
    width: 270px;
    height: 60px;
    border-radius: 100px;
    background-color: #AC6620;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.aboutContactUsContainerBottomContainerBottomContainerBottomContainerButton:hover {
    background-color: #C9823B;
}

.aboutContactUsContainerBottomContainerBottomContainerBottomContainerButtonContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutContactUsContainerBottomContainerBottomContainerTop {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutContactUsContainerBottomContainerBottomContainerTopContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutContactUsContainerBottomContainerBottomContainerTopContainerText {
    color: #31361D;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
}

.aboutContactUsContainerBottomContainerBottomContainerBottomContainerButtonContainerText {
    color: #FFE5D4;
    font-size: 19px;
    font-weight: 500;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    text-align: center;
}