@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 100%;
}

html, body {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  /* overflow-x: hidden; */
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: poppins, sans-serif;
}

a {
  text-decoration: none;
}

/* Selection styles removed to prevent empty ruleset */

.cormorant-garamond-regular {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}