.blog {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (max-width: 480px) {
  .blog {
    overflow-x: hidden;
  }
}

@media (max-width: 768px) {
  .blog {
    overflow-x: hidden;
  }
}

@media (max-width: 1024px) {
  .blog {
    overflow-x: hidden;
  }
}

/* Large screens */
@media (min-width: 1200px) {
  .blog {
    max-width: 100%;
  }
}
