.homeVideo {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateY(-50%);
}

.homeVideoContainerTopContainerVideo {
    position: relative;
    width: 78%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    filter: brightness(0.6) contrast(1.15);
}

.homeVideoContainerTopContainerButton {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background-color: #8A541F;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}

.homeVideoContainerTopContainerButton:hover {
    background-color: #FFE5D4;
}


.homeVideoContainerTopContainerButtonIcon {
    color: #FFE5D4;
    width: 34px;
    height: auto;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2px
}

.homeVideoContainerTopContainerButton:hover .homeVideoContainerTopContainerButtonIcon {
    color: #8A541F;
}

.homeVideoMarquee {
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%) translateY(-120%);
    width: 78%; /* Matches the width of the video */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

        /* filter: brightness(0.5) contrast(1.2); */

}

.homeVideoMarqueeInner {
    display: flex;
    width: max-content;
    animation: marquee-scroll 18s linear infinite;
}

.homeVideoMarqueeText {
    font-size: 170px;
    font-weight: 700;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #C9823B;
    text-stroke: 2px #C9823B; /* For supported browsers */
    letter-spacing: 2px;
    white-space: nowrap;
}

@keyframes marquee-scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}